<h1>posts/indexです</h1>
<% @posts.each do |post| %>
  <span><%= post.body %></span>
  <span><%= post.user_id %></span>
  <% if post.user_id == @current_user.id %>
    <td><%= link_to("編集", "/posts/#{post.id}/edit") %></td>
    <td><%= button_to("削除", "/posts/#{post.id}", method: :delete) %></td> 
  <% end %>
  </br>
<% end %>
